.footer {
  padding: 77px 0 148px 0;
  background: #09111E;

  @media (max-width: 768px) {
    padding-bottom: 90px;
  }

  .container {
    display: flex;
    justify-content: space-between;
    gap: 30px;

    @media (max-width: 1024px) {
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
  }

  .footer-column_title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 35px;
    color: #FFFFFF;

    @media (max-width: 768px) {
      margin-bottom: 20px;
    }
  }

  .contact {
    max-width: 270px;

    .logo {
      p {
        margin-top: 8px;
        font-family: 'Open Sans';
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: #3A68B8;
      }
    }

    .description {
      font-family: 'Open Sans';
      font-weight: 300;
      font-size: 14px;
      line-height: 18px;
      color: #FFFFFF;
      opacity: 0.6;
      margin-top: 10px;
      margin-bottom: 37px;

      @media (max-width: 768px) {
        margin-bottom: 22px;
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 20px;
      li {
        a {
          margin-left: 10px;
          font-family: 'Open Sans';
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 18px;
          color: #FFFFFF;
        }
      }
    }
  }

  
  &-list {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    opacity: 0.6;

    &s {
      display: flex;
      flex-direction: column;
      gap: 25px;

      @media (max-width: 768px) {
        gap: 15px;
      }
    }
  }

  .column {
    max-width: 165px;
  }

  .about-store {
    max-width: 260px;

    .description {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 450;
      font-size: 14px;
      line-height: 18px;
      color: #FFFFFF;
      opacity: 0.8;
    }

    .site {
      font-family: 'Open Sans';
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      color: #FFFFFF;
      margin-top: 28px;
      margin-bottom: 22px;

      @media (max-width: 1024px) {
        margin-top: 15px;
        margin-bottom: 15px;
      }
    }

    .social-networks {
      display: flex;
      align-items: center;
      gap: 25px;
      margin-bottom: 53px;

      @media (max-width: 1024px) {
        margin-bottom: 15px;
      }
    }

    .select {
      display: flex;
      align-items: center;
      
      &-language {
        margin-left: 8px;
        outline: none;
        font-family: 'Open Sans';
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: #FFFFFF;
        border: none;
        background: transparent;
        cursor: pointer;
  
        option {
          color: #000;
          font-weight: 500;
        }
      }
    }
  }
}